@import url('https://fonts.googleapis.com/css2?family=Candal&family=Inder&family=Inter:wght@400;500;600&display=swap')

:root
  --text-header: 'Inter'
  --text-content: 'Inder'
  --text-title: 'Candal'

.light-theme
  transition: 2s

  --primary-color: #506700
  --secondary-color: #ABB573
  --background-color: #FAFAFA
  --text-color: #222222



.dark-theme
  transition: 2s

  --primary-color: #231E33
  --secondary-color: #544A8C
  --background-color: #110F1C
  --text-color: #FAFAFA


body
  background-color: var(--background-color)
  color: var(--text-color)

